<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <link rel="stylesheet" href="./css/style.css">
  <title>Vuejs2</title>
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="(curso,chave) in cursos" v-text="chave + '-' + curso"></li>
      <br>
      <li v-for="(curso,chave) in cursos">{{ chave }} - {{ curso }}</li>
    </ul>
    <hr>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Titulo</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="curso,chave in curso2">
          <td>{{ chave }}</td>
          <td>{{ curso.titulo }}</td>
          <td>{{ curso.descricao }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        cursos: ["laravel", "Web Completo", "Banco de Dados", "Solid", "Angular"],
        curso2: {
          1000: { titulo: "laravel", descricao: "Domine o framework Php" },

          1001: {
            titulo: "Banco de Dados",
            descricao: "Agenda os principais 80s Relacionais"
          },
        }
      },

      methods: {

      }
    });
  </script>
</body>

</html>