<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <link rel="stylesheet" href="./css/style.css">
  <title>Vuejs2</title>
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="(curso,chave) in cursos" v-text="chave + '-' + curso"></li>
      <br>
      <li v-for="(curso,chave) in cursos">{{ chave }} - {{ curso }}</li>
    </ul>
    <hr>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Titulo</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="curso,chave in curso2">
          <td>{{ chave }}</td>
          <td>{{ curso.titulo }}</td>
          <td>{{ curso.descricao }}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <ul>
      <!-- tentando ajduar o vue a entender quais html tem que modificar -->
      <li v-for=" p in publicacoes" style="border: 1px solid; margin-bottom: 15px;" :key="p.id">
        <div>
          {{ p.publicacao }}
        </div>
        <hr>
        <input type="text">
      </li>
    </ul>
    <button @click="misturarArray()">Misturar</button>

    <hr>

    <ul>
      <li v-for="n in 10">{{ n }}</li>
    </ul>
    <hr>

    <ul>
      <li v-for="c in comentarios">{{ c.id}} - {{ c.comentario }}
      </li>
    </ul>
    <button @click="adicionarElemento()">Adicionar</button>
    <button @click="removerElemento()">Remover</button>
    <button @click="modificarElemento()" style="margin-bottom: 40px">Modificar</button>


  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        comentarios: [
          {
            id: 1, comentario: "Comentario 1",
          },
          {
            id: 2, comentario: "Comentario 2",
          },
          {
            id: 3, comentario: "Comentario 3"

          }],

        cursos: ["laravel", "Web Completo", "Banco de Dados", "Solid", "Angular"],
        curso2: {
          1000: { titulo: "laravel", descricao: "Domine o framework Php" },

          1001: {
            titulo: "Banco de Dados",
            descricao: "Agenda os principais 80s Relacionais"
          },
        },
        publicacoes: [
          {
            id: 1, publicacao: "Publicação 1"
          },
          {
            id: 2, publicacao: "Publicação 2"
          },
          {
            id: 3, publicacao: "Publicação 3"
          },
        ],
      },

      methods: {
        misturarArray() {
          let misturado = [];

          misturado[0] = this.publicacoes[1];
          misturado[1] = this.publicacoes[2];
          misturado[2] = this.publicacoes[0];

          this.publicacoes = misturado;
        },
        adicionarElemento() {
          //this.comentarios[3] =
          // console.log(this.comentarios)
          this.comentarios.push({ id: 4, comentario: "comentario 4" })

        },
        removerElemento() {
          //this.comentarios[3] =
          // console.log(this.comentarios)
          this.comentarios.pop();

        },
        modificarElemento() {
          //this.comentarios[1] = {id:2, comentario: "Comentario 2 atualizado"};
          this.$set(this.comentarios, 1, { id: 2, comentario: "Comentario 2 atualizado" });
        },
      }
    });
  </script>
</body>

</html>